.pokemon-type.chip {
    color: #ffffff;
}
.chip.ty1 {
  background: #b1b1b1;
}
.chip.ty2 {
  background: #e4653f;
}
.chip.ty3 {
  background: #50abda;
}
.chip.ty4 {
  background: #9ac30e;
}
.chip.ty5 {
  background: #e8c71a;
}
.chip.ty6 {
  background: #53c4e5;
}
.chip.ty7 {
  background: #e99a3f;
}
.chip.ty8 {
  background: #ba79c1;
}
.chip.ty9 {
  background: #c8a841;
}
.chip.ty10 {
  background: #5e9fe2;
}
.chip.ty11 {
  background: #e885b2;
}
.chip.ty12 {
  background: #6cbe50;
}
.chip.ty13 {
  background: #b08754;
}
.chip.ty14 {
  background: #756eb4;
}
.chip.ty15 {
  background: #6c81c8;
}
.chip.ty16 {
  background: #5a3c1e;
}
.chip.ty17 {
  background: #919191;
}
.chip.ty18 {
  background: #e06cbb;
}